body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-image: url("../../../public/assets/background.jpg");
  //background-size: cover;
  //background-repeat: repeat;


  background-color: $color-mint;

  font-family: $main-font;
  font-size: 1.5em;

  .container {
    width: 1240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-title{
      font-size: 1.5em;
      margin-bottom:1em;


    }

    .form{
      width: 55%;

    }

    .read-container {
      display: flex;

      .col-1, .col-2 {
        margin-top: 2em;
        width: 50%;
        display: flex;
        flex-direction: column;

        .title {
          padding: 0.5em 1em;
          align-self: center;


        }
      }

    }

  }

}